Incorrect documentation on X509Req.set_version

> It's worth noting that the [documentation of the `.set_version()` method being called here](https://www.pyopenssl.org/en/stable/api/crypto.html#OpenSSL.crypto.X509Req.set_version) is itself wrong: it references [RFC 2459 Section 4.1.2.1](https://datatracker.ietf.org/doc/html/rfc2459#section-4.1.2.1) (which specifies the Version field for _Certificates_), when it should instead reference [RFC 2986 Section 4.1](https://datatracker.ietf.org/doc/html/rfc2986#section-4) (which specifies the Version field for CSRs). Consider also filing a bug/PR with [pyopenssl](https://github.com/pyca/pyopenssl) to update [that documentation](https://github.com/pyca/pyopenssl/blob/bd023272a93f600b0d7b666e15c01843ddb2f6d8/src/OpenSSL/crypto.py#L975-L994).

More context: https://github.com/certbot/certbot/pull/9334#issuecomment-1169043586
 